[Unit]
Description=Check daily for Proton Drive CLI updates

[Timer]
OnBootSec=5min
OnCalendar=daily
Persistent=true
RandomizedDelaySec=4h
FixedRandomDelay=true
AccuracySec=15min
Unit=proton-drive-update.service

[Install]
WantedBy=timers.target
